.container{
    margin-bottom: 50px;
}
.buy-button{
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: black;
    color: white;
    margin-bottom: 20px;
}
.justify-content-end{
    text-align: end;
}
.categories{
    border: none;
}
.card{
    border: none;
    background-color: white;
    text-align: center;
    box-shadow: 5px 5px 10px lightgray;
    margin-left: 2px;
    bottom: 2px;
}
.card-footer{
    background-color: white;
    border: none;
}
.img-down{
    padding-top: 10px;
}
.border2{
    text-align: center;
}
.border-shadow{
    box-shadow: 5px 5px 10px lightgray;
    text-align: center;
    margin-bottom: 15px;
}
.border{
    box-shadow: 5px 5px 10px lightgray;
}
footer{
    text-align: center;
}